page-tyset {
    .note{
        font-size: 13px;
    }
    .list{
        float: left;
        margin-top: 3px;
        letter-spacing: 0.3px;
    }
    #label {
        color: black;
        letter-spacing: 0.3px;
    }
}
