page-taolun {
    .toolbar-title-md{
        margin-left: 30%;
        font-size: 25px;
    }
    textarea{
        border:1px solid #F09595;
        height:200px;
        width:90%;
        font-size:20px;
        margin-left: 5%;
        margin-top:3%;
    }
    .zishu{
        float: right;
        font-size:15px;
        margin-top:0px;
        margin-right: 5%;
    }
    .publish{
        width:230px;
        height:35px;
        margin-left: 18%;
        background-color: #F09595;
        font-size:20px;
    }
}
