<ion-header>

  <ion-navbar color="fenzi">
    <ion-title>设置</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item detail-push no-lines (click)="setting0()">账号管理<i class="iconfont1">&#xe652;</i></ion-item>
  <ion-item detail-push no-lines (click)="setting1()">账号与安全<i class="iconfont1">&#xe652;</i></ion-item>
  <ion-item detail-push no-lines (click)="setting2()">消息设置<i class="iconfont1">&#xe652;</i></ion-item>
  <ion-item detail-push no-lines (click)="setting3()">通用设置<i class="iconfont1">&#xe652;</i></ion-item>
  <ion-item detail-push no-lines (click)="setting4()">关于每妆<i class="iconfont1">&#xe652;</i></ion-item>
  <br/><br/><br/>
  <button  *ngIf="denglustatus" (click)="exitDenglu()" class="btn1" ion-button block color="fenzi">退出当前账号</button>
  <!-- *ngIf="denglustatus",当denglustatus=1，显示button，当denglustatus=0退出当前登录，不显示button -->

</ion-content>
