page-set {
    .toolbar-title-ios{
        font-weight: normal;
    }
    .show-back-button{
        color:white;
    }
    .toolbar-title-md{
        margin-left: 0%;
        padding-left: 33%;
    }
    .btn1{
        width:100%;
    }
}
