page-contact {
    // .toolbar-background-md{
    //     background: #A770EF;
    //     background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); 
    //     background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); 
    // }
    .toolbar-title-md{
        margin-left: -10%;
    }
    .contents{
        margin-left:20px;
        margin-top:5px;
        p{
            margin-top:0px;
            margin-left:3px;
        }
    }
    .sixin{
        img{
            position: absolute;
            width: 40px;
            height:40px;
            border-radius: 40px;
            margin-top:-25px;
            margin-left:5px;
        }
        h4{
            position: absolute;
            margin-left:65px;
            margin-top:-25px;
        }
        .neirong{
            position: absolute;
            margin-left:65px;
            margin-top:-5px;
            width:260px;
            overflow: hidden; //把超出的内容进行隐藏；
            white-space: nowrap; //设置内容不换行；
            text-overflow: ellipsis; //设置超出内容为省略号
        }
        .shijian{
            position: absolute;
            margin-left:250px;
            margin-top:-25px;
        }
    }
}
