page-wrelease {
    .button-md {
        margin: 10px 5px;
        height: 3rem;
        font-size: 1.8rem;
        background-color:#A683FF;
    }
    textarea{
        border:2px solid rgba(136, 50, 110, 0.6); 
        padding: 8px;
        line-height:10px;
    }
    .camera{
        width: 280px;
        height: 2.5rem;
        margin-left: 45px;
    }
}
