<ion-header text-center>
  <ion-navbar color="fenzi">
    <ion-title>我的粉丝</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item detail-none class="contents" *ngFor='let fan of myfans;let i=index'>
      <img src="{{fan.headimg}}" class="photo">
      <h4>{{fan.name}}</h4>
      <p>
        {{fan.signature}}
      </p>     
       <button *ngIf='isfollow[i]==i+1'  (click)='change(0,i)' value='关注'  item-end>关注</button>
       <button *ngIf='isfollow[i]==-i-1'  (click)='change(1,i)' style=' background-color:rgb(225, 225, 225);color:black;' item-end>互关</button>
      <br><br>
    </ion-item>
</ion-content>
