page-my-favorites {
    .toolbar-title-md{  
        margin-left: 0%;
        padding-left: 28%;
        color:white;
    }
    .contents{
        ion-col{
          padding:10px;      
        }
        .img{
          width: 100%;
          height: 150px;
        }
        h6{
            overflow: hidden; //把超出的内容进行隐藏；
            white-space: nowrap; //设置内容不换行；
            text-overflow: ellipsis; //设置超出内容为省略号
        }
        .photo{
          width: 20px;
          height: 20px;
          border-radius:25px;
        }
        span{
            float: right;
            margin-top:5px; 
        }
      }
}
