
.sidebar{
    width:100%;
    padding-left:15%;
    color:#A683FF;
    h3{
       width:61%
    }
    .item-md{
        color:#A683FF
    }
    .item-ios {
        padding-left: 0px;
        color:#A683FF;
    }
}
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



@font-face {
    font-family: 'Ionicons';
    src: url('../assets/fonts/iconfont.eot');
    src: url('../assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/iconfont.woff') format('woff'),
    url('../assets/fonts/iconfont.ttf') format('truetype'),
    url('../assets/fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"Ionicons" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-right:8%;
}
.icon-set:before { content: "\e683"; }

.icon-star:before { content: "\e628"; }

.icon-bin:before { content: "\e614"; }

.icon-eye:before { content: "\e63a"; }

.icon-pen_:before { content: "\e67b"; }

.icon-lock:before { content: "\e6d1"; }

.icon-warning:before { content: "\e601"; }

@font-face {
    font-family: 'iconfont';  /* project id 937912 */
    src: url('//at.alicdn.com/t/font_937912_mdauyrsept.eot');
    src: url('//at.alicdn.com/t/font_937912_mdauyrsept.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_937912_mdauyrsept.woff') format('woff'),
    url('//at.alicdn.com/t/font_937912_mdauyrsept.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_937912_mdauyrsept.svg#iconfont') format('svg');
  }
.iconfont1{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

ul,li{
    list-style: none;
}

page-my-follows,page-my-favorites,page-privacy, page-clear,page-set,page-feedback{
    
    .toolbar-title-ios,.bar-button-default-ios{
        color:white;
    }
    .toolbar-ios {
        .toolbar-background-ios {
            background: #A683FF;
        }
    }
    .toolbar-background-md {
        background: #A683FF;
    }
}
