page-fensi {
    .contents{
        .photo{
            position: absolute;
            width: 40px;
            height:40px;
            border-radius: 40px;
        }
        h4{
            position: absolute;
            margin-left: 48px;            
        }
        p{
            position: absolute;
            margin-left: 48px;
            margin-top: 23px;
            width:200px;
            overflow: hidden; //把超出的内容进行隐藏；
            white-space: nowrap; //设置内容不换行；
            text-overflow: ellipsis; //设置超出内容为省略号
       
        }
        button{
            position: absolute;
            margin-left: 250px;
            background-color: #C1B7B7;
        }
        .guanzhu{
            position: absolute;
            margin-left: 250px;
            width:60px;
            background-color: #E17579;
        }
    }
}
