page-add {
    .content{
        padding-top: 10px;
        width: 100%;
        float: left;
        img{
            padding-left: 40px;
            padding-bottom: 60px;
            height: 244px;
            width: 280px;
        }
    }
    .div{
        width: 100px;
        height: 100px;
        margin: 30px;
        border-radius: 50px;
        text-align: center;
        background-color: white;
        float: left;
    }
    .iconfont1{
        display: inline-block;
        font-size: 2em;
        color: white;
        padding-top: 30px;
    }
    
    .icon-md-light {
        color:#A683FF;
    }
}
