page-about {
    .bar-button-default-md{
        color:white;
    }
    .title title-md{
        width: 40px;
    }
    .sli{
        height:120px;
        img{
            width: 100%;
        }
    }

    
    // p{
    //     font:"幼圆" bolder 1.5em  ;
    // }
    // img{
    //     padding: 5px;
    // }
    // .contents{
    //     ion-col{
    //         padding:10px;
    //     }
    //     .photo{
    //         border-radius:25px;
    //         width:20px;
    //         height:20px;
    //     }
    //     span{
    //         float:right;
    //         margin-top:5px; 
    //     }
    // }
    // .foot{
    //     button{
    //         padding: 20px;
    //     }
    // }
}
