page-xxset {
   
    .list{
       margin-top: 5px;
       letter-spacing: 1px;
       margin-left: -5px;
    }
    p{
        margin-left: 16px;
        font-size: 12px;
        letter-spacing: 2px;
        color: rgba(133, 143, 151, 0.959);
    }
}
