page-security {
    p{
        color: rgba(184, 187, 189, 0.979);
        font-size: 12px;
        margin-left: 20px;
        letter-spacing: 0.3em;

    }
    .geshi{
        margin-left: 5px;
        letter-spacing: 0.1em;
    }
}
