
<ion-content>
    <div class="div1">
        <ion-icon name="share-alt" class="icon1" (click)="share($event)"></ion-icon>
        <p class="title">{{user.name}}</p>
    </div>
    <div>
        <img class="fish" (click)="clickHead()" src="{{user.headimg}}" >
    </div>
    <div class="div2" *ngIf='denglustatus' (click)='setting()'>
        <ion-icon ios="ios-card" md="md-card"></ion-icon> 完善信息
    </div>
    <div class="div21" (click)='setting1()'>
        <ion-icon ios="ios-settings" md="md-settings"></ion-icon> 设置
    </div>
    <br/><br/><br/><br/>
    <p class="p1">每妆号：{{user.mei_id}}</p>
    <!-- <p class="p1">每妆号：21199320</p> -->
    <div>
        <div class="care" (click)='gotoFollows()'>
            &nbsp;&nbsp;&nbsp;{{guanzhu_len}}
            <br/>关注
        </div>
        <div class="fans" (click)='gotoFensi()'>
            &nbsp;&nbsp;&nbsp;{{user.fannum}}
            <br/>粉丝
        </div>
        <div class="praise" (click)='gotoDianzan()'>
            &nbsp;&nbsp;&nbsp;0
            <br/>获赞
        </div>
    </div>
    <ion-grid class='work_like'>
        <ion-row>
            <ion-col style='text-align: center' col-6 (click)="isClick(true)" [class.change]="isActive==false" [class.ischange]="isActive==true">
                作品
            </ion-col>
            <ion-col style='text-align: center' col-6 (click)="isClick(false)" [class.change]="isActive==true" [class.ischange]="isActive==false">
                喜欢
            </ion-col>
        </ion-row>
    </ion-grid>
    <div [ngSwitch]="isActive">
        <div *ngSwitchCase="true">
            <ion-grid class="contents">
                <ion-row>
                    <ion-col (click)="goPa(i,0)" *ngFor='let mywork of myworks,let i=index' col-6>
                        <img src="{{mywork.img[0]}}" class="img">
                        <h6>{{mywork.title}}</h6>
                        <p>
                            <img src="{{user.headimg}}" class="photo">{{user.name}}
                            <span><i class="iconfont1" style="font-size:16px">&#xe630;</i>{{mywork.likenum}}</span>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="false">
            <ion-grid class="contents">
                <ion-row>
                    <ion-col (click)="goPa(i,1)" col-6 *ngFor='let mylike of mylikes,let i=index'>
                        <img src="{{mylike[0].img[0]}}" class="img">
                        <h6>{{mylike[0].title}}</h6>
                        <p>
                            <img src="{{mylike[1].headimg}}" class="photo">{{mylike[1].name}}
                            <span><i class="iconfont1" style="font-size:16px">&#xe630;</i>{{mylike[0].likenum}}</span>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>