page-aboutmei {
    ion-icon{
        font-size:2em;
    }
    img{
        width:187.5px;
        height:163px;
        margin-left:25%;
    }
    p{
        position: absolute;
        margin-left:18%;
        margin-top:-50px;
    }

}
