<ion-header>
  <ion-navbar>
    <ion-title>我的关注</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
   <ion-row>
     <ion-col col-6 (click)="active(true)" [class.isActive]='isActive==true'>用户</ion-col>
     <ion-col col-6 (click)="active(false)" [class.isActive]='isActive==false'>话题</ion-col>
    </ion-row>
  </ion-grid>
  <div class='users' [ngSwitch]="isActive">
    <div *ngSwitchCase="true">
      <ion-list>
        <ion-item detail-push>
          <p>你可能感兴趣的人</p>
          <span item-end>查看更多</span>
        </ion-item>
        <ion-item *ngFor='let item of names' no-lines class='interest'>
          <img src='{{item.img}}' alt='头像'>
          <h2>{{item.name}}</h2>
          <span>你可能感兴趣的人</span>
          <button item-end>关注</button>
        </ion-item>
        <p ion-item outline>我关注的好友</p>
        <ion-item *ngFor='let item of follows' class='follow' no-lines>
          <img src='{{item.img}}' alt='头像'>
          <h2>{{item.name}}</h2>
          <span>{{item.note_num}}个笔记</span>
          <span class='fan_num'>{{item.fan_num}}个粉丝</span>
          <button item-end>已关注</button>
        </ion-item>
      </ion-list>
    </div>
    <!-- 话题 -->
    <div class='topic' *ngSwitchCase="false">
      <ion-list>
        <ion-item detail-push>
          <p>你可能感兴趣的话题</p>
          <span item-end>查看更多</span>
        </ion-item>
        <ion-item *ngFor='let item2 of names2' no-lines class='interest'>
          <img src='{{item2.img}}' alt='头像'>
          <h2>{{item2.name}}</h2>
          <span>你可能感兴趣的话题</span>
          <button item-end>关注</button>
        </ion-item>
        <p ion-item outline>我关注的话题</p>
        <ion-item *ngFor='let item2 of follows2' class='follow' no-lines>
          <img src='{{item2.img}}' alt='头像'>
          <h2>{{item2.name}}</h2>
          <span>{{item2.note_num}}个推荐人</span>
          <span class='fan_num'>{{item2.fan_num}}个发表</span>
          <button item-end>已关注</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>