<ion-header>
  <ion-navbar color="fenzi">
    <ion-title>我的关注</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
   <ion-row>
     <ion-col col-6 (click)="active(true)" [class.isActive]='isActive==true'>用户</ion-col>
     <ion-col col-6 (click)="active(false)" [class.isActive]='isActive==false'>话题</ion-col>
    </ion-row>
  </ion-grid>
  <div class='users' [ngSwitch]="isActive">
    <div *ngSwitchCase="true">
      <ion-list>
        <ion-item detail-push>
          <p >你可能感兴趣的人</p>
          <span item-end>查看更多</span>
        </ion-item>
        <ion-item *ngFor='let interest of interest_users;let i=index;' no-lines class='interest'>
          <img src='{{interest.headimg}}' alt='头像'>
          <h2>{{interest.name}}</h2>
          <span>{{interest.worknum}}个作品</span>
          <span class='fan_num'>{{interest.fannum}}个粉丝</span>
          <button item-end (click)="follow('关注',i)">关注</button>
        </ion-item>
        <p ion-item outline>我关注的好友</p>
        <ion-item *ngFor='let myfollow of myfollows;let j=index;' no-lines class='follow'>
          <img src='{{myfollow.headimg}}' alt='头像'>
          <h2>{{myfollow.name}}</h2>
          <span>{{myfollow.worknum}}个作品</span>
          <span class='fan_num'>{{myfollow.fannum}}个粉丝</span>
          <button item-end (click)="follow('已关注',j)">已关注</button>
        </ion-item>
      </ion-list>
    </div>
    <!-- 话题 -->
    <div class='topic' *ngSwitchCase="false">
      <ion-list>
        <ion-item detail-push>
          <p>推荐话题</p>
          <span item-end></span>
        </ion-item>
        <ion-item *ngFor='let topic of tui_topics;let i=index' no-lines class='interest'>
          <img src='{{topic.img}}' alt='头像'>
          <h2>{{topic.title}}</h2>
          <span>{{topic.follownum}}个关注人</span>
          <!-- <span class='fan_num'>{{item2.fan_num}}个发表</span> -->
          <button item-end (click)="follow_t('关注',i)">关注</button>
        </ion-item>
        <p ion-item outline>我关注的话题</p>
        <ion-item *ngFor='let topic of mytopics;let j=index' no-lines class='follow'>
            <img src='{{topic.img}}' alt='头像'>
            <h2>{{topic.title}}</h2>
            <span>{{topic.follownum}}个关注人</span>
            <!-- <span class='fan_num'>{{item2.fan_num}}个发表</span> -->
            <button item-end (click)="follow_t('已关注',j)">已关注</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>