page-aite {
    .contents{
        .photo{
            position: absolute;
            width: 40px;
            height:40px;
            border-radius: 40px;
            margin-top:-5px;
        }
        h4{
            position: absolute;
            margin-left: 60px; 
            margin-top:-20px;           
        }
        p{
            position: absolute;
            margin-left: 58px;
            margin-top:-5px;
            width:200px;
            overflow: hidden; //把超出的内容进行隐藏；
            white-space: nowrap; //设置内容不换行；
            text-overflow: ellipsis; //设置超出内容为省略号
            span{
                margin-left: 20px;
            }       
        }
        .zuopin{
            position: absolute;
            margin-left: 250px;
            width:50px;
            height:50px;
        }
    }
}
