page-improve {

    .toolbar-title-md{
         padding: 0 50px;
    }
    span{
        float: right;
        margin-right:20px;
    }
    .special{
        width:150px;
        overflow: hidden; //把超出的内容进行隐藏；
        white-space: nowrap; //设置内容不换行；
        text-overflow: ellipsis; //设置超出内容为省略号
    }
    .iconfont1{
        position: absolute;
        right:3%;
        margin-top: 4px;
    }
    .pic{
        margin-top: 10px;
    }
    #head-portrait{
        display:block;
        width:100px;
        height:100px;
        margin:0 auto;
        border-radius: 50%;
    }
}
