page-search {
    .bar-button-default-md{
        color:white;
    }
    .searchbar-md
    .searchbar-input {
        padding: 0 40px;
        border-radius: 10px;
    }
    .button-outline-md {
        border-color: #A683FF;
        color: #A683FF;
    }
}
