<ion-header>
  <ion-navbar color="fenzi">
    <div class="search">
      <ion-icon name="search"></ion-icon>
      <input type="text" placeholder="秋冬时尚穿搭" [(ngModel)]="input">
    </div>
    <ion-buttons end (click)="search()">
      <button ion-button>搜索</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngIf='iscome'><h5 style="color:#F09595">热门搜索</h5></span>
  <!-- <button ion-button round outline>冬季时尚穿搭</button>
  <button ion-button round outline>枫叶妆</button>
  <button ion-button round outline>补水爽肤水</button>
  <button ion-button round outline>学生平价马丁靴</button>
  <button ion-button round outline>面试妆</button>
  <button ion-button round outline>秋冬穿搭必备神器</button> -->
  <span *ngIf='iscome'><span  class="list" *ngFor="let item of hot;let i=index">
      <button ion-button round outline>{{item}}</button>
  </span>
  <br/><br/>
  <hr></span>
  <span *ngIf='iscome'><span style="color:#585757;font-size: 1.2em;">历史记录</span>
  <ion-icon *ngIf='iscome' name="trash" (click)="clear()" style="color:#585757;font-size: 1.5em;float: right;"></ion-icon>
  <br/><br/></span>
  <span *ngIf='iscome'><span class="list" *ngFor="let item of history">
      <button ion-button round outline style="border-color: #585757; color: #585757;">{{item}}</button>
  </span></span>
  <p *ngIf='issearch' style='width:100%;height:100px;text-align: center'>暂无搜索结果</p>
  <ion-grid class="contents">
    <ion-row>
      <ion-col col-6 (click)="goPa(i)" *ngFor='let work of search_works,let i=index'>
        <img src="{{work[0].img[0]}}" class="img">
        <h6>{{work[0].title}}</h6>
        <p><img src="{{work[1].headimg}}" class="photo">
        {{work[1].name}}<span><i class="iconfont1" style="font-size:16px">&#xe630;{{work[0].likenum}}</i></span></p>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
