page-improve {
    .toolbar-title-ios{
        font-weight: normal;
    }
    .toolbar-title-md{
        padding-right: 50%;
    }
    .button-inner{
        margin:0px 0px;
        padding:0px 0px;
    }
    span{
        margin-left:55px;
    }
    .sp1{
        margin-left: 35px;
    }
    .sp2{
        margin-left: 20px;
    }
}
