page-about {
    .searchbar-md .searchbar-input{
        border-radius: 10px;
        padding:2px 40px;
    }
    .contents{
        .img{
            width:150px;
            height:150px;
        }
        h6{
            overflow: hidden; //把超出的内容进行隐藏；
            white-space: nowrap; //设置内容不换行；
            text-overflow: ellipsis; //设置超出内容为省略号
        }
        .photo{
            border-radius:25px;
        }
        span{
            float: right;
        }
    }
}
